{% load static %}


<!doctype html>
<html lang="pt-br">

{% include 'partials/_dashboard_top_search.html' %}


<body>

    {% include 'partials/_dashboard_side_bar.html' %}

    {%block conteudo%}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="card text-left">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Meu Portfolio</a>
                       
                    

<div class="row">
  {% for i in ticker %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ i.ticker }}</h5>
        <p class="card-text">Preco de compra: R$ {{ i.adjclose }}</p>
        <p class="card-text">Preco hoje: R$ {{ i.adjtoday|stringformat:".2f"  }}</p>
        <p class="card-text">Ganho/Perda: {{ i.rent|stringformat:".2f"}} %</p>
        <form method="get" action="#" value="{{ ri.id  }}">
        <a href="{% url 'excluir' %}" value="{{ i.id }}" class="btn btn-primary">Excluir</a></form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

                       
                          </div>
                          
                          
                    </li>
                </ul>
           
    </main>
</body>

</html>
    {% endblock %}


